<div id="<%= dom_id job %>">
  <p>
    <strong>User:</strong>
    <%= job.user_id %>
  </p>

  <p>
    <strong>Job:</strong>
    <%= job.job %>
  </p>

  <p>
    <strong>Job salary:</strong>
    <%= job.job_salary %>
  </p>

</div>
