<div id="<%= dom_id watch %>">
  <p>
    <strong>User:</strong>
    <%= watch.user_id %>
  </p>

  <p>
    <strong>Watch name:</strong>
    <%= watch.watch_name %>
  </p>

  <p>
    <strong>Watch color:</strong>
    <%= watch.watch_color %>
  </p>

</div>
